<html>

<head>
<meta http-equiv="Content-Language" content="zh-tw">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>目前系統維護中</title>
<meta http-equiv=”refresh” content=”0;url=https://www.taiwantrip.com.tw/” />
</head>

<body leftmargin="0" topmargin="0" bottommargin="0" style="background-color: #808000">

<div class="panel panel-default" data-ng-show="!awardInvoicePage || !awardInvoicePage.content" style="box-sizing: border-box; margin-bottom: 5px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px; margin-top: 27px !important; color: rgb(51, 51, 51); font-family: &quot;Microsoft JhengHei&quot;; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
	<div class="panel-body" style="box-sizing: border-box; padding: 15px;">
		<div class="form-horizontal env_form" style="box-sizing: border-box; margin: 20px 0px;">
			<form class="ng-pristine ng-invalid ng-invalid-required" name="queryForm" style="box-sizing: border-box;">
				<div class="form-group" style="box-sizing: border-box; margin-bottom: 15px; margin-left: -15px; margin-right: -15px;">
					<label class="col-sm-3 control-label" for="awardDate" style="box-sizing: border-box; display: inline-block; margin-bottom: 0px; font-weight: 300; position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; margin-top: 0px; padding-top: 7px; white-space: nowrap;">
					<span class="env_red" style="box-sizing: border-box; color: rgb(230, 0, 18);">
					*</span><span>&nbsp;</span><span style="box-sizing: border-box;">發票期別</span></label><div class="col-sm-3" style="box-sizing: border-box; position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; left: 0px; top: 1px; width: 0px; height: 15px;">
						<select id="awardDate" class="form-control ng-pristine ng-untouched ng-valid ng-empty" data-ng-model="btc202dto.awardDate" name="D1" style="box-sizing: border-box; font-family: inherit; font-size: 16px; margin: 0px; text-transform: none; line-height: 1.42857; outline: none; border: 1px solid rgb(0, 159, 184); background: none rgb(255, 255, 255); border-radius: 5px; padding: 6px 12px 6px 10px; appearance: menulist; display: block; width: 421px; height: 36px; color: rgb(85, 85, 85); vertical-align: middle; box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;">
						<option selected="selected" style="box-sizing: border-box;" value="? undefined:undefined ?">
						</option>
						<!-- ngRepeat: option in awardDateOptions --></select></div>
				</div>
				<div class="form-group" style="box-sizing: border-box; margin-bottom: 15px; margin-left: -15px; margin-right: -15px;">
					<label class="col-sm-3 control-label" for="imagecode" style="box-sizing: border-box; display: inline-block; margin-bottom: 0px; font-weight: 300; position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; margin-top: 0px; padding-top: 7px; white-space: nowrap;">
					<span class="env_red" style="box-sizing: border-box; color: rgb(230, 0, 18);">
					*</span><span>&nbsp;</span><span style="box-sizing: border-box;">圖形驗證碼</span></label><div class="col-sm-3" style="box-sizing: border-box; position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; left: 0px; top: 0px; width: 384px;">
						<input id="imagecode" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" data-ng-model="btc202dto.imagecode" required="" style="box-sizing: border-box; font-family: inherit; font-size: 16px; margin: 0px; line-height: 1.42857; outline: none; border: 1px solid rgb(0, 159, 184); background: none rgb(242, 222, 222); border-radius: 5px; padding: 6px 12px 6px 10px; display: block; width: 156px; height: 36px; color: rgb(85, 85, 85); vertical-align: middle; box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;" title="圖形驗證碼" type="text"></div>
					<div class="col-sm-6" style="box-sizing: border-box; position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px;">
						<e-captcha trigger-refresh="eCaptchaSettings.triggerRefresh" class="ng-isolate-scope" style="box-sizing: border-box;">
						<div aria-label="..." class="btn-group btn-group" role="group" style="box-sizing: border-box; position: relative; display: inline-block; vertical-align: middle;">
							<button class="btn btn-default" style="box-sizing: border-box; font-family: inherit; font-size: 16px; margin: 0px; line-height: 1.42857; text-transform: none; appearance: button; cursor: pointer; outline: none; border: 1px solid rgb(204, 204, 204); display: inline-block; font-weight: normal; text-align: center; vertical-align: middle; background-image: none; white-space: nowrap; padding: 0px; border-radius: 4px 0px 0px 4px; user-select: none; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); position: relative; float: left;" title="圖形驗證碼" type="button">
							<img alt="圖形驗證碼" data-src="/APCONSUMER/images/captcha" ecaptcha="captcha-image" src="https://www.einvoice.nat.gov.tw/APCONSUMER/images/captcha?init=1620119810595" style="box-sizing: border-box; border: 0px; vertical-align: middle; outline: none; width: 102px; height: 34px;">
							</button>
							<button id="captcha-refresh-button" class="btn btn-default" data-ng-click="$ctrl.refresh(true)" data-ng-init="eCaptcha.refresh()" style="box-sizing: border-box; font-family: inherit; font-size: 16px; margin: 0px 0px 0px -1px; line-height: 1.42857; text-transform: none; appearance: button; cursor: pointer; outline: none; border: 1px solid rgb(204, 204, 204); display: inline-block; font-weight: normal; text-align: center; vertical-align: middle; background-image: none; white-space: nowrap; padding: 6px 12px; border-radius: 0px; user-select: none; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); position: relative; float: left;" title="更換圖形驗證碼" type="button">
							<span aria-hidden="true" class="glyphicon glyphicon-refresh" style="box-sizing: border-box; position: relative; top: 1px; display: inline-block; font-family: &quot;Glyphicons Halflings&quot;; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; width: 1em;">
							</span></button>
							<button id="captcha-audio-play-button" class="btn btn-default" data-ng-click="$ctrl.play()" style="box-sizing: border-box; font-family: inherit; font-size: 16px; margin: 0px 0px 0px -1px; line-height: 1.42857; text-transform: none; appearance: button; cursor: pointer; outline: none; border: 1px solid rgb(204, 204, 204); display: inline-block; font-weight: normal; text-align: center; vertical-align: middle; background-image: none; white-space: nowrap; padding: 6px 12px; border-radius: 0px 4px 4px 0px; user-select: none; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); position: relative; float: left;" title="語音" type="button">
							<span aria-hidden="true" class="glyphicon glyphicon-volume-up" style="box-sizing: border-box; position: relative; top: 1px; display: inline-block; font-family: &quot;Glyphicons Halflings&quot;; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; width: 1em;">
							</span></button></div>
						</e-captcha></div>
				</div>
				<div class="form-group" style="box-sizing: border-box; margin-bottom: 15px; margin-left: -15px; margin-right: -15px;">
					<div class="col-sm-offset-3 col-sm-9" style="box-sizing: border-box; position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px;">
						<button class="btn btn-primary" data-ng-click="search()" data-ng-disabled="disableSearch()" disabled="disabled" style="box-sizing: border-box; font-family: inherit; font-size: 16px; margin: 0px; line-height: 1.42857; text-transform: none; appearance: button; cursor: not-allowed; outline: none; border: 1px solid rgb(53, 126, 189); display: inline-block; font-weight: normal; text-align: center; vertical-align: middle; background-image: none; white-space: nowrap; padding: 6px 12px; border-radius: 4px; user-select: none; color: rgb(255, 255, 255); background-color: rgb(66, 139, 202); pointer-events: none; opacity: 0.65; box-shadow: none;" title="查詢" type="button">
						查詢</button><span>&nbsp;</span>
						<button class="btn btn-primary" data-ng-click="resetAll()" style="box-sizing: border-box; font-family: inherit; font-size: 16px; margin: 0px; line-height: 1.42857; text-transform: none; appearance: button; cursor: pointer; outline: none; border: 1px solid rgb(53, 126, 189); display: inline-block; font-weight: normal; text-align: center; vertical-align: middle; background-image: none; white-space: nowrap; padding: 6px 12px; border-radius: 4px; user-select: none; color: rgb(255, 255, 255); background-color: rgb(66, 139, 202);" title="清除" type="button">
						清除</button></div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="panel panel-default" style="box-sizing: border-box; margin-bottom: 5px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px; margin-top: 27px !important; color: rgb(51, 51, 51); font-family: &quot;Microsoft JhengHei&quot;; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
	<div class="panel-body" style="box-sizing: border-box; padding: 15px;">
		<div class="form-horizontal env_form" style="box-sizing: border-box; margin: 20px 0px;">
			<div class="form-group" style="box-sizing: border-box; margin-bottom: 15px; margin-left: -15px; margin-right: -15px;">
				<div class="col-sm-12" style="box-sizing: border-box; position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px;">
					<p class="text-danger" style="box-sizing: border-box; margin: 0px 0px 11px; color: rgb(169, 68, 66);">
					&nbsp;</p>
				</div>
			</div>
		</div>
	</div>
</div>

</body>

</html>